.custom {
  height: 200px;
  object-fit: contain;
}
.custom-search {
  height: 20px;
  width: 20px;
}
body {
  background-image: url("../src/assets/img/logo-ecommerce-1.png");
  background-size: auto;
  background-position: center;
}